/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.inter-font {
    font-family: "Inter", sans-serif, "Poppins";
    font-optical-sizing: auto;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

/* Global Style ***************/
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    border-radius: 10px;
}

.section-title {
    font-size: 2.25rem;
    font-weight: 600;
    color: #1F1F1F;
    margin-bottom: 24px;
    font-family: "Poppins";
}

.text {
    font-size: 1rem;
    color: #4E4E4E;
    line-height: 26px;
}

.btn {
    color: #ffffff;
    background-color: #000000;
    border-radius: 6px;
    font-size: 1rem;
    padding: 7px 10px;
    cursor: pointer;
    border: none;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Global Style End***************/

/* Nav bar */
.nav-bar {
    margin-top: 30px;
}

.fa-bars {
    font-size: 1.8rem;
}

/* Hero section */
.hero-container {
    background-color: #FEEAE9;
    margin-top: 50px;
}

.hero-content {
    padding-left: 50px;
}

.hero-container h1 {
    text-align: center;
    font-size: 3.5rem;
    color: #1F1F1F;
    font-weight: 700;
    font-family: "poppins";
    max-width: 100%px;
}

.hero-container p {
    max-width: 456px;
    margin: 8px 0;
}

.hero-container h3 {
    font-size: 2.5625rem;
    font-weight: 500;
    color: #FF136F;
}

.hero-container button {
    background-color: #FF136F;
    margin-top: 8px;
    padding: 7px 22.5px;
}

.hero-btn {
    display: none;
}

/* Categories */
.categories {
    margin-top: 60px;
    gap: 20px;
}

.categories-box {
    
    margin-top: 0px;
    gap: 26px;
}

.cate-card {
    padding: 15px 48px;
    border-radius: 10px;
}

.cate-card h2 {
    color: white;
    font-size: 2.25rem;
    font-weight: 500;
}

.categories-card-1 {
    background-color: #FF9C35;
    gap: 80px;
}

.categories-card-2 {
    background-color: #FF136F;
    gap: 100px;
}

.categories-card-3 {
    background-color: #3F07F8;
    gap: 30px;
}